#header{
    background: red;
    height:32px ;
    line-height: 32px;
    /*垂直居中*/
    color: white;
    font-weight: 100;
    font-size: 12px;
}
#header a{
    color: white;
}
#login-contain{
    display: inline;
}
#login-contain a{
    padding-left: 20px;
}
#login-contain a:hover{
     color: yellow;
}
#header-menu{
    float: right;
}
#header-menu .menu{
    float: left;
    list-style: none;
    padding: 0 14px;
    position: relative;
    /*color: red;*/
}
/*#div a{*/
    /*color: white;*/
/*}*/
#header-menu a:hover{
    color: yellow;
}

#header .iconfont{
    color: white;
    font-size: 12px;
    line-height: 32px;
}
#header-menu .menu-hd:hover>a{
    color:red;
    text-decoration: underline;
}
#header-menu .sub-menu a:hover{
    color: red;
    text-decoration: underline;
}

#header-menu .menu-hd:hover{
    background: #ffffff;
}
#header-menu .sub-menu a{
    color: black;
}
#header-menu .sub-menu{
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    top:32px;
    left:0;
    width: 100px;
    line-height:30px;
    display: none;
    padding-left: 10px;
}
#header-menu .menu-hd:hover .sub-menu{
    display: block;
}
 #header-menu .menu-hd::after{
      content: '';
     /*/*width: 0;*/
     border: 3px solid transparent;
     border-top-color: #bbbbbb;
     position: absolute;
     right:4px;
     top: 16px;
     transform-origin: 3px 2.5px;
     /*transform: rotate(180deg);*/
}
 #header-menu .menu-hd:hover::after{
     transition:transform  .1s linear;
     transform: rotate(180deg);
 }
#header-menu .sj-menu a{
    color: black;
    /*font-size: 6px;*/
}
#header-menu .sj-menu a:hover{
    color: red;
    text-decoration: underline;
}
#header-menu .menu-hd:hover .sj-menu {
    display: block;
}
#header-menu .sj-menu{
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    top:32px;
    right:0;
    width: 130px;
    line-height:20px;
    display: none;
    padding-left: 10px;
}
 #header-menu .sj-menu p{
    color: black;
}
#header-menu .web-menu{
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    top:32px;
    right:0;
    width: 1250px;
    line-height:35px;
    display: none;
    padding-left: 30px;
    height: 150px;
}
#header-menu .web-menu a{
    color: black;
}
#header-menu .web-menu a:hover{
    color: #f56a00;
    text-decoration: underline;
}
#header-menu .menu-hd:hover .web-menu{
    display: block;
}
#header-menu .site-hot p{
    color:#f56a00;
    font-size: 16px;
}
#header-menu .site-market p{
    color:#2263d4;
    font-size: 16px;
}
#header-menu .site-help p{
    color: #666;
    font-size: 16px;
}
#header-menu .site-hot a{
    padding: 0 20px;
}

#header-menu .site-market{
    position: absolute;
    top: 0;
    right: 400px
}
#header-menu .site-market a{
    padding: 0 20px
}
#header-menu .site-help{
    position: absolute;
    top: 0;
    right: 100px
}
#header-menu .site-help a{
    padding: 0 20px
}
#tm
