#header{
    background: red;
    height:32px ;
    line-height: 32px;
    /*垂直居中*/
    color: white;
    font-weight: 100;
    font-size: 12px;
}
#header a{
    color: white;
}
#login-contain{

/*float: left;*/
    display: inline;
}
#login-contain a{
    padding-left: 20px;
}
#login-contain a:hover{
     color: white;
}
#div1{
    float: right;
}
#div1 .div2{
    float: left;
    list-style: none;
    padding: 0 14px;
    position: relative;
    /*color: red;*/
}
/*#div a{*/
    /*color: white;*/
/*}*/
#div1 a:hover{
    color: yellow;
}

#header .iconfont{
    color: white;
    font-size: 12px;
    line-height: 32px;
}
#div1 .div3:hover>a{
    color:red;
    text-decoration: underline;
}
#div1 .div4 a:hover{
    color: red;
    text-decoration: underline;
}

#div1 .div3:hover{
    background: #ffffff;
}
#div1 .div4 a{
    color: #cccccc;
}
#div1 .div4{
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    top:32px;
    left:0;
    width: 100px;
    display: none
}
#div1 .div3:hover .div4{
    display: block;
}
 #div1 .div3::after{
      content: '';
     /*!*width: 0;*/
     border: 3px solid transparent;
     border-top-color: #bbbbbb;
     position: absolute;
     right:4px;
     top: 16px;
     transform-origin: 3px 1.5px;
     /*transform: rotate(180deg);*/
}
 #div1 .div3:hover::after{
     transition:transform  .1s linear;
     transform: rotate(180deg);
 }