*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    width: 1500px;
}
@keyframes yyy {
    from{

    }
    to{
        transform: rotateY(360deg);
    }
}
#middle .infor-img2{
    position: relative;
}
#middle .infor-img2 img{
    width: 200px;
    height: 150px;
    position: absolute;
    top: -45px;
    left: 350px;
}
#middle .infor-img{
    position: relative;
}
#middle .infor-img img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -40px;
    left: 1000px;
}
#middle .infor-font{
    width:600px;
    height: 800px;
    background: white;
    padding: 30px 30px;
    border: 2px solid #cccccc;
    color:gray;
    float: left;
}
#contain{
    width: 520px;
    height: 460px;
    margin: 10px 40px;
    position: relative;
    float: left;
}
#contain img{
    width: 520px;
    height: 460px;
    position: absolute;
}
#contain .num{
    position: absolute;
    right: 200px;
    bottom: 10px;
    z-index: 9999999;
}
#contain .arrows{
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 9999999;
}
#contain .num li,.arrows span{
    float: left;
    color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    background: bisque;
    cursor: pointer;
    border-radius: 50%;
}
#contain li.selected{
    background: hotpink;
}
#aboutMe p{
     font-size: 40px;
     color: #ffd3be;
 }
#aboutMe .iconfont{
    width: 1500px;
    overflow: hidden;
    margin: 0 100px;
}
#aboutMe .iconfont li,p{
    margin: 50px 50px;
    float: left;
}
#aboutMe .iconfont .icon{
    font-size: 70px;
}
#container{
    width: 800px;
    height: 300px;
    margin: 100px auto;
    border: 1px solid #000000;
    position: relative;
    overflow: hidden;
}
#container #num{
    width:1600px ;
    position: absolute;
    left:0;
}
#container #num li img{
    width:200px;
    height: 180px;
}
#container #num li{
    float: left;

}
#container #font{
    margin: 230px 320px;
}

#container #font li{
    width: 70px;
    height: 50px;
    background: #cccccc;
    float: left;
    margin-left: 5px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}
#information{
    overflow: hidden;
}
#information .infor-font{
    width:650px;
    height: 450px;
    float: right;
    margin-right: 80px;
    line-height: 30px;
    font-weight: lighter;
    /*background:#f3e3c6;*/
}
#information .infor-font p{
    margin: 0 0;
    width: 650px;
    text-align: center;
}
#technology {
    width:100%;
    height: 500px;
    margin: 50px 30px;
}
#technology .chart .language{
    font-size: 25px;
    color: #4ebdd1;
}
#technology .chart .dongImg{
    width:280px;
    height: 280px;
}
#myWebsite #mywork{
    width:100%;
    height: 600px;
    margin-top: 100px;
    background: url("../web-image/img11.png") center center no-repeat;
}
#myWebsite #mywork #detail{
    width: 520px;
    height: 280px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}
#detail #imgs{
    width: 2080px;
    position: absolute;
}
#detail img{
    width: 520px;
    height: 280px;
    float: left;
}
#detail .num{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 9999999;
}
#detail .arrows{
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 9999999;
}
#detail li.selected{
    background: #0086b3;
}

/*//////////*/
#myWebsite #goup{
    width:60px;
    height: 92px;
    background: url("../web-image/go-top.jpeg");
    position: fixed;
    bottom:20px;
    right: 20px;
}
#myWebsite #goup:hover{
    background-position: -93px;
}
